<h1><span data-i18n="skills.my_skills">About</span></h1>

<div>

	Workload aware storage system

	optimize storage system so that they are workload aware 

	My research interest include workload characterization, storage systems, caching. I want to design workload aware storage systems. 

	I am interested in workload aware storage systems. 

	workload characterization to optimize storage and caching systems. 

	I am interested in studying the effects of workloads on a storage systems and how we can optimize and make the system adaptive. 

	I am a PhD student at Emory University. 

	I work with Avani Wildani. 

	I work in the Emory SimBioSys Lab. 

	My reseach interest includes workload characterization in storage systems,u like to do?  caching. 

	What is the research interest? 

	I am interested in designing workload aware storage systems. 

	Keywords:

	Storage systems, distributed systems, caching, machine learning


    Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.

</div>