<h1 style="text-decoration: underline solid black"><span data-i18n="skills.my_skills">About</span></h1>

<div>


	I am a PhD candidate in the Computer Science and Informatics program at Emory University. I am on the job marker and expect to graduate in Spring 2024. I work on problems related to workload characterization in storage and caching systems with <a href="http://www.mathcs.emory.edu/~avani/">Dr. Avani Wildani</a> as a part of the <a href="https://simbiosyslab.github.io/">Emory Simbiosys</a> Lab. This is my <a href="https://github.com/pbhandar2/CV/blob/master/Resume.pdf">CV</a>.


</div>
