<h1 style="text-decoration: underline solid black"><span data-i18n="skills.my_skills">About</span></h1>

<div>


	I am a PhD candidate in the Computer Science and Informatics program at Emory University graduating this spring (May, 2024). I am actively looking for jobs hoping to start right after I graduate. My thesis is titled "Optimizing Block Storage using Multi-tier Caches". I am advised by <a href="http://www.mathcs.emory.edu/~avani/">Dr. Avani Wildani</a>. This is my <a href="https://moccasin-gertie-16.tiiny.site/">Resume</a>. Please feel free to reach out.


</div>
